In [1]:
from getpass import getpass
import pandas as pd
import yfinance as yf
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

# **Load the Stock Data into a pandas DataFrame**

In [2]:
stock_data = yf.download('AAPL', period='5y')
stock_data.head()

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2019-05-10  49.355000  49.712502  48.192501  49.294998  47.638988  164834800
2019-05-13  46.927502  47.369999  45.712502  46.430000  44.870247  229722400
2019-05-14  46.602501  47.424999  46.352501  47.165001  45.580563  146118800
2019-05-15  46.567501  47.937500  46.505001  47.730000  46.126568  106178800
2019-05-16  47.477501  48.117500  47.209999  47.520000  45.923630  132125600

# **Exporting the data to a MySQL database**

## **MySQL Connection Details**

In [3]:
#mysql connection details
username = 'root'
password = getpass('Input the password for MySQLs root\n')
host = 'mysql'
database = 'stock_db'
port = '3306'

Input the password for MySQLs root
 ········

## **Create the MySQL Engine**

In [4]:
#create an engine URL
engine_url = f"mysql+pymysql://{username}:{password}@{host}:{port}/"

#create an engine to check/create the database
engine = create_engine(engine_url)

database_url = f"{engine_url}{database}"
if not database_exists(database_url):
    print("Database does not exist, attempting to create it...")
    create_database(database_url)  # Use the correct full URL here
else:
    print("Database exists.")

#reconfigure the engine to include the database
engine = create_engine(database_url)

Database exists.

## **Write the Data to MySQL**

In [5]:
#write the data to mysql
stock_data.to_sql('my_table', con=engine, index=True, if_exists='replace')

1259

# **References and Additional Learning**

## **Documentation**

- **[Docker Compose overview](https://docs.docker.com/compose/) from Docker.com**

- **[MySQL Documentation](https://dev.mysql.com/doc/) from dev.mysql.com/doc/**

- **[phpMyAdmin Documentation](https://www.phpmyadmin.net/docs/) from phpmyadmin.net/docs/**

- **[Project Jupyter Documentation](https://docs.jupyter.org/en/latest/) from docs.jupyter.org**

# **Connect**
- **Feel free to connect with Adrian on [YouTube](https://www.youtube.com/channel/UCPuDxI3xb_ryUUMfkm0jsRA), [LinkedIn](https://www.linkedin.com/in/adrian-dolinay-frm-96a289106/), [X](https://twitter.com/DolinayG), [GitHub](https://github.com/ad17171717), [Medium](https://adriandolinay.medium.com/) and [Odysee](https://odysee.com/@adriandolinay:0). Happy coding!**