<a href="https://colab.research.google.com/github/ad17171717/YouTube-Tutorials/blob/main/Google%20Colab%20Tutorials/Google_Colab_%2B_SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SQLite**

**SQLite is a open source C-language library that implements a small, self-contained SQL database engine. A complete SQL database with multiple tables, indices, triggers, and views, is contained in a single disk file. With all features enabled, the library size can be less than 768 KB, depending on the target platform and compiler optimization settings.**

**Because SQLite is self-contained it can be run on Google Colab. Other database management systems like MongoDB and Postgres operate using client server architecture, which requires access to ports. However, Google Colab's environment is managed and restricts access to ports.**

<sup>Source: [SQLite Documentation](https://www.sqlite.org/) from sqlite.org</sup>

<sup>Source: [SQLite Is Public Domain](https://www.sqlite.org/copyright.html) from sqlite.org</sup>

# **Utilizing SQLite in Google Colab**

**In this tutorial we will review how to create a SQLite database, read in data into the database and run queries on the database.**

In [ ]:
#download data
!wget https://archive.ics.uci.edu/static/public/235/individual+household+electric+power+consumption.zip
!unzip /content/individual+household+electric+power+consumption.zip

--2024-11-23 17:07:37--  https://archive.ics.uci.edu/static/public/235/individual+household+electric+power+consumption.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified
Saving to: ‘individual+household+electric+power+consumption.zip’

individual+househol     [      <=>           ]  19.68M  3.76MB/s    in 5.7s

2024-11-23 17:07:43 (3.42 MB/s) - ‘individual+household+electric+power+consumption.zip’ saved [20640916]

Archive:  /content/individual+household+electric+power+consumption.zip
  inflating: household_power_consumption.txt

In [ ]:
#check data
!head /content/household_power_consumption.txt

Date;Time;Global_active_power;Global_reactive_power;Voltage;Global_intensity;Sub_metering_1;Sub_metering_2;Sub_metering_3
16/12/2006;17:24:00;4.216;0.418;234.840;18.400;0.000;1.000;17.000
16/12/2006;17:25:00;5.360;0.436;233.630;23.000;0.000;1.000;16.000
16/12/2006;17:26:00;5.374;0.498;233.290;23.000;0.000;2.000;17.000
16/12/2006;17:27:00;5.388;0.502;233.740;23.000;0.000;1.000;17.000
16/12/2006;17:28:00;3.666;0.528;235.680;15.800;0.000;1.000;17.000
16/12/2006;17:29:00;3.520;0.522;235.020;15.000;0.000;2.000;17.000
16/12/2006;17:30:00;3.702;0.520;235.090;15.800;0.000;1.000;17.000
16/12/2006;17:31:00;3.700;0.520;235.220;15.800;0.000;1.000;17.000
16/12/2006;17:32:00;3.668;0.510;233.990;15.800;0.000;1.000;17.000

In [ ]:
import sqlite3
import pandas as pd
import csv

## **Reading in Data to SQLite from a pandas DataFrame**

In [ ]:
raw_data_path = '/content/household_power_consumption.txt'

In [ ]:
#read the data into a pandas DataFrame
df = pd.read_csv(raw_data_path, sep=';', low_memory=False)
print(f'The dataset has {df.shape[1]} columns and {df.shape[0]:,} rows')

The dataset has 9 columns and 2,075,259 rows

In [ ]:
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [ ]:
#create SQLite database
conn1 = sqlite3.connect('household_power.db')

In [ ]:
#write DataFrame to SQLite table
df.to_sql('household_power', conn1, if_exists='replace', index=False, dtype={
    'Date': 'TEXT',
    'Time': 'TEXT',
    'Global_active_power': 'REAL',
    'Global_reactive_power': 'REAL',
    'Voltage': 'REAL',
    'Global_intensity': 'REAL',
    'Sub_metering_1': 'REAL',
    'Sub_metering_2': 'REAL',
    'Sub_metering_3': 'REAL'
})

2075259

## **Running Queries on the SQLite Database using `pandas`**

In [ ]:
#query database to retrieve column names
query = "PRAGMA table_info(household_power)"
result = pd.read_sql(query, conn1)
print(result)

   cid                   name  type  notnull dflt_value  pk
0    0                   Date  TEXT        0       None   0
1    1                   Time  TEXT        0       None   0
2    2    Global_active_power  REAL        0       None   0
3    3  Global_reactive_power  REAL        0       None   0
4    4                Voltage  REAL        0       None   0
5    5       Global_intensity  REAL        0       None   0
6    6         Sub_metering_1  REAL        0       None   0
7    7         Sub_metering_2  REAL        0       None   0
8    8         Sub_metering_3  REAL        0       None   0

In [ ]:
#retrieve shape of data
query = """
SELECT 'rows' AS dimension, COUNT(*) AS count FROM household_power
UNION ALL
SELECT 'columns' AS dimension, COUNT(*) AS count FROM pragma_table_info('household_power');
"""
result = pd.read_sql(query, conn1)
print(result)

  dimension    count
0      rows  2075259
1   columns        9

In [ ]:
query = "SELECT AVG(global_active_power) AS average_power FROM household_power;"
result = pd.read_sql(query, conn1)
print(result)

   average_power
0        1.07795

In [ ]:
#check for null values across all the columns
query = """
SELECT
    SUM(CASE WHEN Date IS NULL THEN 1 ELSE 0 END) AS null_date,
    SUM(CASE WHEN Time IS NULL THEN 1 ELSE 0 END) AS null_time,
    SUM(CASE WHEN global_active_power IS NULL THEN 1 ELSE 0 END) AS null_global_active_power,
    SUM(CASE WHEN global_reactive_power IS NULL THEN 1 ELSE 0 END) AS null_global_reactive_power,
    SUM(CASE WHEN Voltage IS NULL THEN 1 ELSE 0 END) AS null_voltage,
    SUM(CASE WHEN global_intensity IS NULL THEN 1 ELSE 0 END) AS null_global_intensity,
    SUM(CASE WHEN sub_metering_1 IS NULL THEN 1 ELSE 0 END) AS null_sub_metering_1,
    SUM(CASE WHEN sub_metering_2 IS NULL THEN 1 ELSE 0 END) AS null_sub_metering_2,
    SUM(CASE WHEN sub_metering_3 IS NULL THEN 1 ELSE 0 END) AS null_sub_metering_3
FROM household_power;
"""
result = pd.read_sql(query, conn1)
print(result)

   null_date  null_time  null_global_active_power  null_global_reactive_power  \
0          0          0                         0                           0

   null_voltage  null_global_intensity  null_sub_metering_1  \
0             0                      0                    0

   null_sub_metering_2  null_sub_metering_3
0                    0                25979

## **Reading in Data to SQLite using the `cursor` Object**

In [ ]:
conn2 = sqlite3.connect('household_power2.db')

In [ ]:
cursor = conn2.cursor()

In [ ]:
#create new SQLite table with cursor
cursor.execute("""
CREATE TABLE IF NOT EXISTS household_power (
    Date TEXT,
    Time TEXT,
    global_active_power REAL,
    global_reactive_power REAL,
    Voltage REAL,
    global_intensity REAL,
    sub_metering_1 REAL,
    sub_metering_2 REAL,
    sub_metering_3 REAL
);
""")

#commit changes
conn2.commit()

In [ ]:
#open text file and read all rows
with open(raw_data_path, 'r') as file:
    reader = csv.reader(file, delimiter=';')

    #skip header row
    header = next(reader)

    #replace missing values with "None" and prepare the data
    data = [
        [None if value == '?' else value for value in row]
        for row in reader
    ]

#use "executemany" to insert all rows at once
insert_query = """
INSERT INTO household_power (
    Date, Time, global_active_power, global_reactive_power,
    Voltage, global_intensity, sub_metering_1, sub_metering_2, sub_metering_3
) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?);
"""
cursor.executemany(insert_query, data)

#commit changes
conn2.commit()

In [ ]:
#close connection after finishing queries
conn1.close()

## **Running Queries on the SQLite Database with the `cursor` Object**

In [ ]:
#query database to retrieve column names
query = "PRAGMA table_info(household_power);"
cursor = conn2.cursor()
cursor.execute(query)
result = cursor.fetchall()

#print metadata for all columns
for column in result:
    print(column)

(0, 'Date', 'TEXT', 0, None, 0)
(1, 'Time', 'TEXT', 0, None, 0)
(2, 'global_active_power', 'REAL', 0, None, 0)
(3, 'global_reactive_power', 'REAL', 0, None, 0)
(4, 'Voltage', 'REAL', 0, None, 0)
(5, 'global_intensity', 'REAL', 0, None, 0)
(6, 'sub_metering_1', 'REAL', 0, None, 0)
(7, 'sub_metering_2', 'REAL', 0, None, 0)
(8, 'sub_metering_3', 'REAL', 0, None, 0)

In [ ]:
#find number of household where global_active_power exceeds 5
query = """
SELECT COUNT(*) AS count_above_threshold
FROM household_power
WHERE global_active_power > 5.0;
"""

cursor = conn2.cursor()
cursor.execute(query)
result = cursor.fetchone()

print(result)

(17547,)

In [ ]:
#finds the 5 times of day with the highest total power usage across all days in the dataset
query = """
SELECT Time, SUM(global_active_power) AS total_power
FROM household_power
GROUP BY Time
ORDER BY total_power DESC
LIMIT 5;
"""

cursor = conn2.cursor()
cursor.execute(query)
results = cursor.fetchall()

for row in results:
    print(row)

('20:50:00', 2857.1820000000034)
('20:49:00', 2856.776)
('20:51:00', 2855.3019999999974)
('20:52:00', 2844.2799999999984)
('20:53:00', 2838.398000000001)

In [ ]:
#close connection after finishing queries
conn2.close()

# **References and Additional Learning**

## **Data**

- **[Individual Household Electric Power Consumption](https://archive.ics.uci.edu/dataset/235/individual+household+electric+power+consumption) from UC Irvine's Machine Learning Repository**

## **Documentation**

- **[SQLite Documentation](https://www.sqlite.org/) from sqlite.org**

# **Connect**
- **Feel free to connect with Adrian on [YouTube](https://www.youtube.com/channel/UCPuDxI3xb_ryUUMfkm0jsRA), [LinkedIn](https://www.linkedin.com/in/adrian-dolinay-frm-96a289106/), [X](https://twitter.com/DolinayG), [GitHub](https://github.com/ad17171717), [Medium](https://adriandolinay.medium.com/) and [Odysee](https://odysee.com/@adriandolinay:0). Happy coding!**

# **Podcast**

- **Check out Adrian's Podcast, The Aspiring STEM Geek on [YouTube](https://www.youtube.com/@AdrianDolinay/podcasts), [Spotify](https://open.spotify.com/show/60dPNJbDPaPw7ru8g5btxV), [Apple Podcasts](https://podcasts.apple.com/us/podcast/the-aspiring-stem-geek/id1765996824), [Audible](https://www.audible.com/podcast/The-Aspiring-STEM-Geek/B0DC73S9SN?eac_link=MCFKvkxuqKYU&ref=web_search_eac_asin_1&eac_selected_type=asin&eac_selected=B0DC73S9SN&qid=IrZ84nGqvz&eac_id=141-8769271-5781515_IrZ84nGqvz&sr=1-1) and [iHeart Radio](https://www.iheart.com/podcast/269-the-aspiring-stem-geek-202676097/)!**