<a href="https://colab.research.google.com/github/ad17171717/YouTube-Tutorials/blob/main/Google%20Colab%20Tutorials/Google_Colab_Downloading_Data_and_Files_to_your_Local_Computer!.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import yfinance as yf

In [2]:
data = yf.download("SPY AAPL", start="2020-01-01", end="2023-06-24")

[*********************100%***********************]  2 of 2 completed

In [3]:
data

             Adj Close                   Close                    High  \
                  AAPL         SPY        AAPL         SPY        AAPL
Date
2020-01-02   73.347939  307.375671   75.087502  324.869995   75.150002
2020-01-03   72.634857  305.048187   74.357498  322.410004   75.144997
2020-01-06   73.213608  306.211884   74.949997  323.640015   74.989998
2020-01-07   72.869293  305.350922   74.597504  322.730011   75.224998
2020-01-08   74.041496  306.978302   75.797501  324.450012   76.110001
...                ...         ...         ...         ...         ...
2023-06-16  184.919998  439.459991  184.919998  439.459991  186.990005
2023-06-20  185.009995  437.179993  185.009995  437.179993  186.100006
2023-06-21  183.960007  434.940002  183.960007  434.940002  185.410004
2023-06-22  187.000000  436.510010  187.000000  436.510010  187.050003
2023-06-23  186.679993  433.209991  186.679993  433.209991  187.559998

                               Low                    Open              \
                   SPY        AAPL         SPY        AAPL         SPY
Date
2020-01-02  324.890015   73.797501  322.529999   74.059998  323.540009
2020-01-03  323.640015   74.125000  321.100006   74.287498  321.160004
2020-01-06  323.730011   73.187500  320.359985   73.447502  320.489990
2020-01-07  323.540009   74.370003  322.239990   74.959999  323.019989
2020-01-08  325.779999   74.290001  322.670013   74.290001  322.940002
...                ...         ...         ...         ...         ...
2023-06-16  443.609985  184.270004  438.970001  186.729996  443.019989
2023-06-20  438.369995  184.410004  435.029999  184.410004  437.450012
2023-06-21  436.989990  182.589996  434.329987  184.899994  436.160004
2023-06-22  436.619995  183.669998  433.600006  183.740005  433.950012
2023-06-23  435.059998  185.009995  432.470001  185.550003  432.929993

               Volume
                 AAPL        SPY
Date
2020-01-02  135480400   59151200
2020-01-03  146322800   77709700
2020-01-06  118387200   55653900
2020-01-07  108872000   40496400
2020-01-08  132079200   68296000
...               ...        ...
2023-06-16  101235600  114121300
2023-06-20   49799100   76160400
2023-06-21   49515700   76982300
2023-06-22   51245300   70637200
2023-06-23   53079300   92028700

[875 rows x 12 columns]

In [4]:
data.to_excel('stock_data.xlsx')

# **Connect**
- **Feel free to connect with Adrian on [YouTube](https://www.youtube.com/channel/UCPuDxI3xb_ryUUMfkm0jsRA), [LinkedIn](https://www.linkedin.com/in/adrian-dolinay-frm-96a289106/), [Twitter](https://twitter.com/DolinayG), [GitHub](https://github.com/ad17171717), [Medium](https://adriandolinay.medium.com/) and [Odysee](https://odysee.com/@adriandolinay:0). Happy coding!**